{% extends "layout.html" %}

{% block content %}


<script>
	document.addEventListener('keydown', logKey);
	document.addEventListener('keyup', logKeyup);
	document.getElementById("Pledgel").onclick = pledgelfkt;
	document.getElementById("Pledger").onclick = pledgerfkt;
	document.getElementById("fwd").onmousedown = fwdFunction;
	document.getElementById("bwd").onmousedown = bwdFunction;
	document.getElementById("left").onmousedown = leftFunction;
	document.getElementById("right").onmousedown = rightFunction;
	document.getElementById("home").onmousedown = HomeFunction;
	document.getElementById("fwd").onmouseup = stopFunction;
	document.getElementById("bwd").onMouseUp = stopFunction;
	document.getElementById("left").onmouseup = stopFunction;
	document.getElementById("right").onmouseup = stopFunction;


	document.getElementById("connect").onclick = ConnectFunction;
	document.getElementById("disconnect").onclick = DisConnectFunction;
	document.getElementById("Map").onclick = MapFkt;
	document.getElementById("Cam").onclick = CamFkt;
	document.getElementById("back").onclick = bwdstep;
	document.getElementById("point").onclick = setPoint;




	function logKey(e) {
		log.textContent = ` ${e.code}`;
		if (`${e.code}` == 'KeyW') {
			$.ajax({
				type: "POST",
				url: "/startw",
				success: function(response) {
					// here you do whatever you want with the response variable
				}
			});
		}

		if (`${e.code}` == 'KeyD') {
		    	$.ajax({
		    		type: "POST",
		    		url: "/startd",
		    		success: function(response) {
		    			// here you do whatever you want with the response variable
		    		}
		    	});
		}

		if (`${e.code}` == 'KeyA') {
		    	$.ajax({
		    		type: "POST",
		    		url: "/starta",
		    		success: function(response) {
		    			// here you do whatever you want with the response variable
		    		}
		    	});
		}

		if (`${e.code}` == 'KeyS') {
		    	$.ajax({
		    		type: "POST",
		    		url: "/starts",
		    		success: function(response) {
		    			// here you do whatever you want with the response variable
		    		}
		    	});
		}
	}

	function pledgelfkt() {
	    $.ajax({
			type: "POST",
			url: "/pledgelfkt",
			success: function(response) {
				// here you do whatever you want with the response variable
			}
		});
	}
	function pledgerfkt() {
	    $.ajax({
			type: "POST",
			url: "/pledgerfkt",
			success: function(response) {
				// here you do whatever you want with the response variable
			}
		});
	}

	function setPoint() {
	    $.ajax({
			type: "POST",
			url: "/setPoint",
			success: function(response) {
				// here you do whatever you want with the response variable
			}
		});
	}

	function bwdstep() {
	    $.ajax({
			type: "POST",
			url: "/bwdstep",
			success: function(response) {
				// here you do whatever you want with the response variable
			}
		});
	}

	function MapFkt() {
	    $.ajax({
			type: "POST",
			url: "/MapFkt",
			success: function(response) {
				// here you do whatever you want with the response variable
			}
		});
	}

	function CamFkt() {
	    $.ajax({
			type: "POST",
			url: "/CamFkt",
			success: function(response) {
				// here you do whatever you want with the response variable
			}
		});
	}

	function stopFunction() {
	    $.ajax({
			type: "POST",
			url: "/stopw",
			success: function(response) {
				// here you do whatever you want with the response variable
			}
		});
	}

	function fwdFunction() {
	    $.ajax({
			type: "POST",
			url: "/startw",
			success: function(response) {
				// here you do whatever you want with the response variable
			}
		});
	}

	function leftFunction() {
	    $.ajax({
			type: "POST",
			url: "/starta",
			success: function(response) {
				// here you do whatever you want with the response variable
			}
		});
	}

	function rightFunction() {
	    $.ajax({
			type: "POST",
			url: "/startd",
			success: function(response) {
				// here you do whatever you want with the response variable
			}
		});
	}

	function bwdFunction() {
	    $.ajax({
			type: "POST",
			url: "/starts",
			success: function(response) {
				// here you do whatever you want with the response variable
			}
		});
	}

	function ConnectFunction(){
	    $.ajax({
			type: "POST",
			url: "/connect_fkt",
			success: function(response) {
				document.getElementById("connect").style.background='#99ffa5';
			}
		});
	}

	function DisConnectFunction(){
	    $.ajax({
			type: "POST",
			url: "/Disconnect_fkt",
			success: function(response) {
				document.getElementById("connect").style.background='#7892c2';
			}
		});
	}

	function HomeFunction(){
	    $.ajax({
			type: "POST",
			url: "/home_fkt",
			success: function(response) {
				// here you do whatever you want with the response variable
			}
		});
	}

	function logKeyup(e) {
		log.textContent = ` `;
		if (`${e.code}` == 'KeyW') {
			$.ajax({
				type: "POST",
				url: "stopw",
				success: function(response) {
					// here you do whatever you want with the response variable
				}
			});
        }

		if (`${e.code}` == 'KeyD') {
			$.ajax({
				type: "POST",
				url: "stopw",
				success: function(response) {
					// here you do whatever you want with the response variable
				}
			});
	    }

	    if (`${e.code}` == 'KeyA') {
			$.ajax({
				type: "POST",
				url: "stopw",
				success: function(response) {
					// here you do whatever you want with the response variable
				}
			});
	    }

	    if (`${e.code}` == 'KeyS') {
			$.ajax({
				type: "POST",
				url: "stopw",
				success: function(response) {
					// here you do whatever you want with the response variable
				}
			});
	    }
	}

</script>


{% endblock %}
