{% extends "layout.html" %}

{% block content %}

<p>Focus the IFrame first (e.g. by clicking in it), then try pressing some keys.</p>
<p id="log"></p>

<script>
	document.addEventListener('keydown', logKey);
	document.addEventListener('keyup', logKeyup);
	document.getElementById("Pledge").onclick = doFunction;

	document.getElementById("connect").onclick = ConnectFunction;

	function logKey(e) {
		log.textContent += ` ${e.code}`;
		if (`${e.code}` == 'KeyW') {
			log.textContent += 'e';
			$.ajax({
				type: "POST",
				url: "/startw",
				success: function(response) {
					// here you do whatever you want with the response variable
				}
			});
		}

		if (`${e.code}` == 'KeyD') {
		    log.textContent += 'e';
		    	$.ajax({
		    		type: "POST",
		    		url: "/startd",
		    		success: function(response) {
		    			// here you do whatever you want with the response variable
		    		}
		    	});
		}

		if (`${e.code}` == 'KeyA') {
		    log.textContent += 'e';
		    	$.ajax({
		    		type: "POST",
		    		url: "/starta",
		    		success: function(response) {
		    			// here you do whatever you want with the response variable
		    		}
		    	});
		}

		if (`${e.code}` == 'KeyS') {
		    log.textContent += 'e';
		    	$.ajax({
		    		type: "POST",
		    		url: "/starts",
		    		success: function(response) {
		    			// here you do whatever you want with the response variable
		    		}
		    	});
		}
	}

	function doFunction() {
	    $.ajax({
			type: "POST",
			url: "/Pledge_Algo",
			success: function(response) {
				// here you do whatever you want with the response variable
			}
		});
	}

	function ConnectFunction(){
	    $.ajax({
			type: "POST",
			url: "/connect_fkt",
			success: function(response) {
				// here you do whatever you want with the response variable
			}
		});
	}

	function logKeyup(e) {
		log.textContent += ` ${e.code}`;
		if (`${e.code}` == 'KeyW') {
			log.textContent += 'e';
			$.ajax({
				type: "POST",
				url: "stopw",
				success: function(response) {
					// here you do whatever you want with the response variable
				}
			});
        }

		if (`${e.code}` == 'KeyD') {
			log.textContent += 'e';
			$.ajax({
				type: "POST",
				url: "stopw",
				success: function(response) {
					// here you do whatever you want with the response variable
				}
			});
	    }

	    if (`${e.code}` == 'KeyA') {
			log.textContent += 'e';
			$.ajax({
				type: "POST",
				url: "stopw",
				success: function(response) {
					// here you do whatever you want with the response variable
				}
			});
	    }

	    if (`${e.code}` == 'KeyS') {
			log.textContent += 'e';
			$.ajax({
				type: "POST",
				url: "stopw",
				success: function(response) {
					// here you do whatever you want with the response variable
				}
			});
	    }
	}

</script>


{% endblock %}
